{% extends 'base.html.twig' %}

{% block title %}New ServiceGite{% endblock %}

{% block body %}
    <h1>Create new ServiceGite</h1>

    {{ include('service_gite/_form.html.twig') }}

    <a href="{{ path('app_service_gite_index') }}">back to list</a>
{% endblock %}
